<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-proyecto-equipo_111/blob/main/Semana_3_Actividad_1_Ciencia_y_anal%C3%ADtica_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ** EQUIPO 111.**

**Alfonso Garibay Flores - A01224167**

**Marco Antonio Arellano Hernández - A00377571**





#                      SEMANA 3 ACTIVIDAD 1


Materia:       **"Ciencia y analítica de datos."**

**Profesor: Jobish Vallikavungal**

**Fecha: Octubre 3, 2022**

# Parte 1: Fundamentos de bases de datos

**1. Fundamentos de bases de datos y para ciencia de datos.**

a.	La recopilación y limpieza de datos es uno de los pasos mas tardado dentro de la ciencia de datos, puede tomar hasta el 80% del tiempo del análisis. Es por esto que es de suma importancia las bases de datos. Una base de datos es una colección de información compuesta de una o mas listas (tablas) de datos que a su vez son organizadas por columnas, filas, y celdas. Contienen nombres de campo, campos, registros, celdas, datos, y objetos. Toda esta información se puede caracterizar como una recopilación de datos lógicamente relacionados con la intención de satisfacer las necesidades informacionales dentro de una organización. Dentro de organizaciones es de gran ayuda que esta información se encuentre en un repositorio central de datos compartidos y gestionados por un agente de control de una forma estandarizada y conveniente mediante un Database Management System (DBMS). Un DBMS es un sistema de software utilizado para crear, mantener, y proporcionar acceso controlado a usuarios a una base de datos. Algunas de las ventajas de un DBMS son reducir la redundancia de datos, mejorar la consistencia y calidad de los mismo, facilitar el intercambio de datos, y apoyar con una mejor toma de decisiones. Algunos puntos en contra de un DBMS es requerir de personal nuevo y especializado, el costo y complejidad de su instalación y conversión, y el posible conflicto organizacional. 


Deacuerdo al objetivo de aprendizaje de ésta semana: identificar la necesidad del uso de base de datos en nuestro proyecto;  la Ph.D. Sara A. Metwalli(2020) en su publicación Databases 101: Introduction to Databases for Data Scientists, 
How to get started with the world of databases?, menciona la importancia del uso de las bases de datos y menciona:

*" Recolectar y analizar datos es una de las formas de personalizar la experiencia de cada uno de nosotros, es un camino para contruir un producto hecho a la medida de cada uno." * 

  Y como ejemplo explica que las recomendaciones de netflix y spotify tienen su base en la gran cantidad de datos que se recolectan de nuestro comportamiento de usuario.

Referencia.


1. https://towardsdatascience.com/databases-101-introduction-to-databases-for-data-scientists-ee18c9f0785d, Recuperado el 3 octubre de 2022.




**2.	Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**

a.	Un almacén de datos es un tipo de sistema para el manejo de información que está diseñado para dar soporte a la inteligencia de negocios, en especial a la analítica. Básicamente su propósito principal es el de permitir análisis sobre grandes cantidades de información histórica que proviene de muchas fuentes dentro de la organización. Debido a estas funciones y capacidades se le conoce como la fuente única de la verdad organizacional. Algunos de los beneficios son los siguientes: permiten el análisis de un tema o área en particular, crean consistencia entre diferentes tipos de información recopilada de varias fuentes, la información es estable, y permite revisas cambios sobre cierto tiempo. Un almacén de datos moderno permite agilizar el flujo de información. Esto significa que analistas, ingenieros, científicos de datos, y equipos de IT pueden utilizarlos mas eficientemente mientras buscan agregar innovación a la forma de trabajo para propulsar la organización hacia adelante, todo esto reduciendo el retraso y la complejidad. Un almacén de datos moderno debería buscar -mediante la exploración y durante la etapa de planeación- anticiparse a necesidades futuras. Su diseño debería permitir espacio para expandirse y evolucionar para mantener el paso con la evolución de las necesidades de los usuarios.


Segun la información contenida en el artículo de la empresa Oracle, especializada en manejos de bases de datos:  

"un almacen de datos(data warehouse) está destinado especificicamente al análisis de datos, tiene como características que puede manejar grandes cantidades de datos de varias fuentes, llevar un historico o que tienen cambios en el tiempo con el propósito de generar perspectivas basadas en el análisis, que sirven a las organización en el área de inteligencia de negocios."

Referencia.
https://www.oracle.com/database/what-is-a-data-warehouse/#link8 Recuperado el 03 de octubre de 2022.

# Parte 2: Selección y limpieza de los Datos en Python

In [ ]:
# Importar Pandas y Numpy

import pandas as pd
import numpy as np

In [ ]:
# Improtar la base de datos existente desde un link de internet

Data = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv', index_col=0)
Data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
#Renombrado de columnas

Data = Data.rename(columns = {'X1': 'CantidadCredito', 
                          'X2': 'Genero', 
                          'X3': 'Escolaridad',
                          'X4': 'EstadoCivil',  
                          'X5': 'Edad',   
                          'X6': 'PagoACuentaSep',
                          'X7': 'PagoACuentaAgo', 
                          'X8': 'PagoACuentaJul', 
                          'X9': 'PagoACuentaJun',
                       'X10': 'PagoACuentaMay', 
                       'X11': 'PagoACuentaAbr', 
                       'X12': 'SaldoSep',
                       'X13': 'SaldoAgo', 
                       'X14': 'SaldoJul', 
                       'X15': 'SaldoJun',
                       'X16': 'SaldoMay', 
                       'X17': 'SaldoAbr', 
                       'X18': 'PagoPrevioSep',
                       'X19': 'PagoPrevioAgo', 
                       'X20': 'PagoPrevioJul', 
                       'X21': 'PagoPrevioJun', 
                       'X22': 'PagoPrevioMay', 
                       'X23': 'PagoPrevioAbr'})
Data

,CantidadCredito,Genero,Escolaridad,EstadoCivil,Edad,PagoACuentaSep,PagoACuentaAgo,PagoACuentaJul,PagoACuentaJun,PagoACuentaMay,...,SaldoJun,SaldoMay,SaldoAbr,PagoPrevioSep,PagoPrevioAgo,PagoPrevioJul,PagoPrevioJun,PagoPrevioMay,PagoPrevioAbr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
# Verificar si hace fatla algun dato

Data.isnull().values.any()

True

In [ ]:
# Verificar en que columna hace falta el dato

Data.isnull().any()

CantidadCredito    False
Genero              True
Escolaridad         True
EstadoCivil         True
Edad                True
PagoACuentaSep      True
PagoACuentaAgo      True
PagoACuentaJul      True
PagoACuentaJun      True
PagoACuentaMay      True
PagoACuentaAbr      True
SaldoSep            True
SaldoAgo            True
SaldoJul            True
SaldoJun            True
SaldoMay            True
SaldoAbr            True
PagoPrevioSep       True
PagoPrevioAgo       True
PagoPrevioJul       True
PagoPrevioJun       True
PagoPrevioMay       True
PagoPrevioAbr       True
Y                   True
dtype: bool

In [ ]:
# Manera alternativa de validar si hace falta algun dato

Data.isna().values.any()

True

In [ ]:
# Visualizacion de la base de datos
Data

,CantidadCredito,Genero,Escolaridad,EstadoCivil,Edad,PagoACuentaSep,PagoACuentaAgo,PagoACuentaJul,PagoACuentaJun,PagoACuentaMay,...,SaldoJun,SaldoMay,SaldoAbr,PagoPrevioSep,PagoPrevioAgo,PagoPrevioJul,PagoPrevioJun,PagoPrevioMay,PagoPrevioAbr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
# Eliminar filas con falantes, si eliminamos columnas confaltantes nos quedariamos con solo 1 columna. Las files se reducen de 30,000 a 29,958 lo cual significa una cantidad muy pequeña de perdida de información
Data.dropna(inplace = True)
Data

,CantidadCredito,Genero,Escolaridad,EstadoCivil,Edad,PagoACuentaSep,PagoACuentaAgo,PagoACuentaJul,PagoACuentaJun,PagoACuentaMay,...,SaldoJun,SaldoMay,SaldoAbr,PagoPrevioSep,PagoPrevioAgo,PagoPrevioJul,PagoPrevioJun,PagoPrevioMay,PagoPrevioAbr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [ ]:
# Confirmación de que ya no hay faltantes en las columnas

Data.isnull().any()

CantidadCredito    False
Genero             False
Escolaridad        False
EstadoCivil        False
Edad               False
PagoACuentaSep     False
PagoACuentaAgo     False
PagoACuentaJul     False
PagoACuentaJun     False
PagoACuentaMay     False
PagoACuentaAbr     False
SaldoSep           False
SaldoAgo           False
SaldoJul           False
SaldoJun           False
SaldoMay           False
SaldoAbr           False
PagoPrevioSep      False
PagoPrevioAgo      False
PagoPrevioJul      False
PagoPrevioJun      False
PagoPrevioMay      False
PagoPrevioAbr      False
Y                  False
dtype: bool

In [ ]:
# Copia de Data para Limpieza

Data2 = Data.copy()

In [ ]:
#Revision de columnas Genero, Escolaridad, EstadoCivil para confirmar si tienen la cantidad correcta de categorias como se nos dice en la descripcion de la base de datos

print(Data2.groupby(['Genero']).size()) # En Genero estamos bien, la descripcion comenta 2 categorias
print(Data2.groupby(['Escolaridad']).size()) # En Escolaridad tenemos un problema, la descripcion menciona 4 categorias y tenemos 6
print(Data2.groupby(['EstadoCivil']).size()) # En EstadoCivil tambien tenemos un problema con 4 categorias, la descripcion menciona 3 categorias

Genero
1.0    11863
2.0    18095
dtype: int64
Escolaridad
0.0       14
1.0    10572
2.0    14009
3.0     4909
4.0      123
5.0      280
6.0       51
dtype: int64
EstadoCivil
0.0       54
1.0    13643
2.0    15939
3.0      322
dtype: int64

In [ ]:
#Como la cantidad de valores por categoria incorrecta es muy pequeña, se me hace logico incorporar las categorias incorrectas a la categoria correcta mas cercana. Es posible que los errores se hayan generado al momento de la entrada de datos

Data2['Escolaridad'].replace(0, 1, inplace=True)
Data2['Escolaridad'].replace(5, 4, inplace=True)
Data2['Escolaridad'].replace(6, 4, inplace=True)
Data2['EstadoCivil'].replace(0, 1, inplace=True)

In [ ]:
# Confirmacion que ahora todas las categorias concuerdan con lo mencionado en la descripcion

print(Data2.groupby(['Genero']).size())
print(Data2.groupby(['Escolaridad']).size())
print(Data2.groupby(['EstadoCivil']).size())

Genero
1.0    11863
2.0    18095
dtype: int64
Escolaridad
1.0    10586
2.0    14009
3.0     4909
4.0      454
dtype: int64
EstadoCivil
1.0    13697
2.0    15939
3.0      322
dtype: int64

In [ ]:
#Visualizacion de data final con limpieza aplicada

Data2

,CantidadCredito,Genero,Escolaridad,EstadoCivil,Edad,PagoACuentaSep,PagoACuentaAgo,PagoACuentaJul,PagoACuentaJun,PagoACuentaMay,...,SaldoJun,SaldoMay,SaldoAbr,PagoPrevioSep,PagoPrevioAgo,PagoPrevioJul,PagoPrevioJun,PagoPrevioMay,PagoPrevioAbr,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

# Parte 3: Preparación de los datos

**¿Qué datos consideró más importantes? ¿Por qué?**

•	Los datos que se consideran más importantes son los de cantidad de crédito otorgado y el historial de pago del cliente. Generalmente se otorga mayores créditos a clientes buenos, por los que se puede apreciar inicialmente que alguien con mayor cantidad de crédito podría tener mejor historial crediticio. Al tener la información de historial crediticio en las columnas X6 a X11 podemos saber exactamente como es el comportamiento crediticio del cliente.

**¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

•	Se eliminaron las filas con datos nulos. Se identificó que únicamente 42 filas de 30,000 tenían problemas de datos nulos. Esto corresponde al 0.14% de la información. Al tratarse de una muestra pequeña de la información el razonamiento fué que eliminar o reemplazar no tendría gran impacto en los números finales, entonces se decidió que la opción de eliminar llevaría al objetivo (la limpieza de los datos) de manera más rápida.

**¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

•	No es necesario dar orden a los datos para hacer análisis ya que se trata de una base de datos estructurada con campos bien definidos. Realmente no existe una secuencia temporal general que dictamine el orden de los datos. Inclusive la base de datos ya tiene un orden con la columna de ID. 

**¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

•	Sí, se identificaron los problemas de formato en la base de datos. Principalmente en las variables categóricas de Escolaridad y Estado Civil. La descripción de la base de datos menciona que Escolaridad debería tener únicamente 4 categorías, al realizar el análisis se descubrió que realmente tenían 6 categorías. 

De manera similar, Estado Civil, mencionaba únicamente 3 variables, pero al realizar el análisis se descubrió que existían 4 categorías. El razonamiento fue que lo mas probable sería que estas discrepancias son error de dedo al momento de teclear o ingresar los datos. Por ejemplo, al intentar introducir 1 para Estado Civil ingresaron 0 por error, o al intentar ingresar 4 para Escolaridad ingresaron 5 o 6. Los datos en estas categorías adicionales inexistentes eran mínimas en relación con las categorías correctas. Es por esto que se decidió reemplazar las categorías incorrectas e incorporarlas a su categoría correcta mas cercana. Por ejemplo, en la categoría "escolaridad" se convirtieron los datos con valor 5 y 6 a valor 4. 
De ésta manera se logró dar formato para adecuar los valores de las categorías dentro de las especificaciones dadas para el tratamiento de la base de datos.

**¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

•	Se comenzo por cambiar los nombres de campo (las columnas) para tener un mejor entendimiento de que se trataba cada una al estar trabajando con ellas. En lugar de tener nombres como X1, X2, X3, etc. se cambiaron a nombres como Cantidad de crédito, Genero, Escolaridad, etc. 
•	Después se revisó si la base de datos tenía información faltante. Al descubrir que sí tenían información faltante se hizo análisis para ver si convenia eliminar columnas, eliminar filas, o reemplazar datos. Se observó que si se eliminaban columnas quedaría únicamente con una columna, mientras que eliminar filas sería mejor opción ya  que únicamente 42 filas de 30,000 tenían datos faltantes. Al representar una porción tan pequeña de la base de datos se decidió que ésta seria la manera más rápida de llegar al objetivo de limpiar los datos, es por esto por lo que se elegió la opción de eliminar filas en lugar de reemplazar datos. 
•	Posteriormente se revisaron las variables categóricas para identificar si coincidían con lo mencionado en la descripción de la base de datos. Se identificaron problemas en las variables categóricas de Escolaridad y Estado Civil. La descripción de la base de datos menciona que Escolaridad debería tener únicamente 4 categorías, al realizar el análisis se descubrió que realmente tenían 6 categorías. De manera similar Estado Civil, mencionaba únicamente 3 variables, pero al realizar el análisis se descubrió que existían 4 categorías. El razonamiento fué que lo más probable es que estas discrepancias se debían a error de dedo al momento de ingresar los datos. Por ejemplo, al intentar introducir 1 para Estado Civil ingresaron 0 por error, o al intentar ingresar 4 para Escolaridad ingresaron 5 o 6. Los datos en estas categorías adicionales inexistentes eran mínimas en relación con las categorías correctas. Es por esto por lo que se decidió reemplazar las categorías incorrectas e incorporarlas a su categoría correcta más cercana. Por ejemplo, convertir los datos de 5 y 6 en Escolaridad a 4.